/AdminAccountNotCreatedException.class
/AdminExceptions.class
/CourseAlreadyRegisteredException.class
/CourseAssignedException.class
/CourseFoundException.class
/CourseLimitExceedException.class
/CourseNotAssignedToProfessorException.class
/CourseNotDeletedException.class
/CourseNotFoundException.class
/FeesPendingException.class
/GradeNotAddedException.class
/ProfessorNotAddedException.class
/ReportCardNotGeneratedException.class
/SeatNotAvailableException.class
/StudentNotApprovedException.class
/StudentNotFoundForApprovalException.class
/StudentNotRegisteredException.class
/UserIdAlreadyInUseException.class
/UserNotAddedException.class
/UserNotApprovedException.class
/UserNotFoundException.class
