/AdminInterface.class
/AdminOperation.class
/NotificationInterface.class
/NotificationOperation.class
/ProfessorInterface.class
/ProfessorOperation.class
/RegistrationInterface.class
/RegistrationOperation.class
/ReportCardInterface.class
/ReportCardOperation.class
/StudentInterface.class
/StudentOperation.class
/UserInterface.class
/UserOperation.class
